@use 'src/styles/colors.scss';

.popper-info-cnt {
    display: inline-block;
    color: colors.$text-color-dark;

    & > * {
        vertical-align: middle;
    }

    .app-icon-button {
        margin-left: 0.3rem;
        vertical-align: middle;
    }
}

.popper-info.MuiPopper-root {
    max-width: 400px;
    background-color: white;
    padding: 1rem;
    border: 2px solid colors.$header-color;
    color: colors.$text-color-dark;
    border-radius: 8px;
}