@use 'src/styles/colors.scss';

.popper-info-cnt {
    display: inline-block;
    color: colors.$text-color-dark;

    &>* {
        vertical-align: middle;
    }

    .popper-info-icon {
        margin: 0px 0.3rem;

        .MuiSvgIcon-root {
            font-size: 1.2rem;
        }
    }
}

.popper-info.MuiPopper-root {
    width: 400px;
    background-color: white;
    padding: 1rem;
    border: 2px solid colors.$header-color;
    color: colors.$text-color-dark;
}