@use 'src/styles/colors.scss';

.draw-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.5rem;

    .draw-graph {
        border: 3px solid colors.$header-color;
    }

    .draw-polycycle {
        text {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .draw-form-error-lid {
        fill: colors.$draw-error-lid-bg-color;
    }
}

.draw-info {
    padding: 1rem 2rem;
    background-color: #ffffffba;
}