@use 'src/styles/colors.scss';

.draw-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .draw-graph {
        border: 3px solid colors.$header-color;
        stroke-width: 2;
        stroke: colors.$draw-base;

        .draw-k-set {
            stroke: colors.$draw-k-set;
        }

        .draw-k-area {
            stroke: none;
            fill: colors.$draw-k-area;
        }
        .draw-triple-area{
            stroke: none;
            fill: colors.$draw-triple-area;
        }

        .draw-triple-set {
            stroke: colors.$draw-triple-set;
        }

        text,
        circle {
            stroke: none;
        }
    }

    .draw-polycycle {
        text {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .draw-form-error-lid {
        fill: colors.$draw-error-lid-bg-color;
    }

    &>* {
        margin-top: 1rem;
    }
}

.draw-info {
    padding: 1rem 2rem;
    color: colors.$text-color-dark;
    background-color: #ffffffba;
}