$text-color-dark: #394d54;
$error-color: #ed0000;

$app-bg-color: #cee0e6;

$header-color:  #5c757d;

$btn-color: #5c757d;
$btn-border-color: #5c757d;
$btn-hover-color: #658088;

$menu-selected-bg-hover-color: #96c7d7ab;
$menu-selected-bg-color: #96c7d78f;

$border-color: #f7c8cf;

$input-bg-color: #fdfdfd;