@use 'src/styles/colors.scss';

.toolbar {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 0px;
    background-color: #ffebee99;
    color: colors.$header-color;
    flex-wrap: wrap;
}

.is-monodromic-tool .MuiFormControlLabel-label,
.character-numbers-tool .label-for-character-numbers {
    font-weight: 600;
}