@use 'src/styles/colors.scss';

.toolbar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0px;
    color: colors.$header-color;
    background-color: colors.$toolbar-background-color;

    .toolbar-center {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 3rem;
    }
}