@use 'src/styles/colors.scss';

.toolbar {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0px;
    background-color: #ffebee99;
    color: colors.$header-color;
    & > *{
        margin: 0px 4rem;
    }
}

.is-monodromic-tool .MuiFormControlLabel-label,
.character-numbers-tool .label-for-character-numbers {
    font-weight: 600;
}