@use 'src/styles/colors.scss';

.App {
  height: 100%;
  color: colors.$header-color;

  .MuiSelect-select {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: colors.$btn-color;
    background-color: white;
  }
}

.MuiPopover-root.MuiMenu-root .MuiList-root.MuiMenu-list {
  color: colors.$text-color-dark;

  .MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
    background-color: colors.$menu-selected-bg-color;

    &:hover {
      background-color: colors.$menu-selected-bg-hover-color;
    }
  }
}

.MuiPopper-root.MuiTooltip-popper {
  .MuiTooltip-tooltip {
    background-color: white;
    color: colors.$text-color-dark;
    border: 1px solid colors.$text-color-dark;
    padding: 1rem;
    font-size: 0.8rem;
  }
}